<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>${Title}</title>
        <link type="text/css" rel="stylesheet" href="/Content/WebSharper/London.Web/SimpleUI.css" />
    
        <script src="/Scripts/WebSharper/London.Web/Prescript.js"></script>
        
        <script data-replace="scripts"></script>
        <script src="/Scripts/WebSharper/London.Web/SimpleUI.js" type="text/javascript" charset="UTF-8"></script>
    
        <script src="/Scripts/WebSharper/London.Web/Postscript.js"></script>
    </head>
    <body>
        <div data-replace="Nav"></div>
        <div data-replace="Main"></div>
    </body>
</html>
