<div class="card">
    <div class="card-title">${Title}</div>
    <div class="card-content" data-children-template="Item" data-hole="Items">
        <div class="card-list-item" data-content="${ContentId}" onclick="toggleCard(this)">
            <div class="card-list-item-header">
                <div class="card-list-item-header-title">${Category}</div>
                <div class="card-list-item-header-subtitle"><div class="amount">${Amount}</div></div>
            </div>
            <div class="card-list-item-content" id="${ContentId}" data-hole="Content"></div>
        </div>
    </div>
</div>