<div class="table-card">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Label</th>
                <th class="right">Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody data-hole="Body" data-children-template="Row">
            <tr>
                <td>${Date}</td>
                <td>${Title}</td>
                <td class="amount">${Amount}</td>
                <td>${Category}</td>
            </tr>
        </tbody>
    </table>
</div>